@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Economica:700);
* {
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
}

header {
	background-color: #ffed74;
	border: 1px black solid;
	padding: 20px;
}

h1	{
	color: #1c193a;
	font-family: 'Slabo 27px', serif;
}

body {
	background-color: #FFE57a;
	width: 100%;
}

p {
	text-align: center;
	width: 250px;
}

h2  {
	font-family: 'Economica', sans-serif;
	font-style: italic;
}

img {
	align-items: horizontal;
	padding-right: 25px;
	padding-bottom: 20px;
	width: 250px;
}

footer {
	text-align: center;
	text-decoration-color: #222222;
	margin: 0 50px;
}

ul {
	text-align: center;
	list-style-type: none;
}

nav {
	padding-bottom: 15px;
	margin: 0 50px;
	font-family: 'Economica', sans-serif;
	font-size: 25px;
	text-decoration: none;
	
}


#two_column {
	border: 1px black solid;
	padding: 20px;
	font-size: 25px;
}

#left {
	border: solid black;
	/*padding: 10px;*/
	float: left;
	width: 50%;
	font-size: 22px;
	text-align: right;
}

#right {
	border: solid black;
	/*padding: 10px;*/
	float: right;
	width: 50%;
	font-size: 22px
	text-align: left;
}

#contact {
	text-align: center;
	display: inline;
	font-size: 10px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	
}	
.bracelet {
	
}