@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Economica:700);
* {
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
}

header {
	background-color: #ffed74;
	border: 1px black solid;
	padding: 20px;
}

h1	{
	color: #1c193a;
	font-family: 'Slabo 27px', serif;
}

body {
	background-color: #FFE57a;
	
}

p {
	text-align: center;
	width: 500px;
	text-align: center;
	
}

h2  {
	font-family: 'Economica', sans-serif;
	font-style: italic;
}

img{
	align-items: horizontal;
	padding-right: 25px;
	padding-bottom: 20px;
	width: 250px;
}

footer{
	text-align: center;
	text-decoration-color: #222222;
	background-color: #ff957e;
}

ul{
	text-align: center;
	list-style-type: none;

}
nav{
	padding-bottom: 15px;
	margin-right: 50px;
	font-family: 'Economica', sans-serif;
	font-size: 25px;
	text-decoration: none;
	background-color: #e8c66a

}

div {
	background-color: #ffe2b8;








